html {
    height: 100%;
    width: 100%;
  }
  
  .title {
    align-items: center;
    justify-content: center;
  }
  
  .nome {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
  }
  
  .valor {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
  }
  
  .memória {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
  }
  
  .tipo {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
  }